<div class="scanner" *ngIf="showCamera">
    <zxing-scanner (scanSuccess)="completeScan($event)"></zxing-scanner>
</div>
<div class="container" *ngIf="!showCamera">
    <div class="center">
        <div class="phrase">
            Helping dislocated things find their home.
        </div>
        <div class="search">
            <input type="text" [(value)]="userID" (keyup.enter)="inputEnter($event)" placeholder="Type ID">
            <button (click)="camera();">
                <span class="material-icons icon" >
                    photo_camera
                </span>
            </button>
        </div>
    </div>
</div>
<div class="popup" *ngIf="popup">
    <span>This is {{tagData}}'s tag. They've requested to not share their data</span>
</div>
