<div class="scanner" *ngIf="showCamera">
    <zxing-scanner (scanSuccess)="completeScan($event)"></zxing-scanner>
</div>
<div class="container" >
    <div class="center" *ngIf="!showCamera && !tagData">
        <div class="phrase">
            Helping dislocated things find their home.
        </div>
        <div class="search">
            <input type="text" [(value)]="tagID" (keyup.enter)="inputEnter($event)" placeholder="Type ID">
            <button (click)="camera();">
                <span class="material-icons icon" >
                    photo_camera
                </span>
            </button>
        </div>
    </div>
    <div class="userFound" *ngIf="tagData">
        <span>Contact this person at their email {{userData.email}}</span>
    </div>
</div>

