div {
    display: flex;
    width: 100vw;
    height: 5vh;
    justify-content: space-between;
    z-index: 2;
    position: absolute;
    align-items: center;
    background: linear-gradient(180deg, #57738D 88.54%, rgba(129, 146, 163, 0) 100%);
    .title {
        margin-left: 10px;
        font-size: 24px;
        color: #FFFFFF;
        font-weight: 300;
        
    }
    .icon{
        margin-right: 5px;
        justify-self: flex-end;
        color:white;
    }
}
.popupMenu {
    position: absolute;
    top: 4vh;
    left: 60%;
    z-index: 5;
}
@media (max-width: 800px){
    div {
        width: 100vw;
    }
}