.container {
    display: flex;
    flex-direction: column;
    height: 97vh;
    width: 100vw;
    align-items: center;
    background: #89a8c7;
    position: absolute;
    z-index: 1;
    top: 5vh;
    .controls {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;

    }
}
.new-tag {
    position: absolute;
    z-index: 50;
    top: 50%;
    left: 20%;
    width: 60%;
    height: 40%;
    background: red;
}